<head lang="en">
    <meta charset="UTF-8" >
    <title>三级联动Demo</title>
    <style>
        select{ width:100px;height: 30px; }
    </style>
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label required">楼宇ID</label>
        <div class="layui-input-block">
            <input type="text" name="id" lay-verify="required" lay-reqtext="楼宇编号不能为空" placeholder="请输入楼宇编号" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">

        <label class="layui-form-label">城市: </label>
        <div class="layui-input-inline">
            <select name="city" id="city" lay-verify="required"  lay-filter="city">
                <option> 请选择</option>
            </select>
        </div>

        <div class="layui-input-inline">
            <select name="district" id="district" lay-verify="required"  lay-filter="district">
                <option> 请选择区/县</option>
            </select>
        </div>

        <div class="layui-input-inline">
            <select name="street" id="street">
                <option> 请选择街道</option>
            </select>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">小区</label>
            <div class="layui-input-block">
                <select name="community" lay-filter="communnity">
                    <option value=""></option>
                    <option value="1区">1区</option>
                    <option value="2区">2区</option>
                    <option value="3区">3区</option>
                    <option value="4区">4区</option>
                    <option value="5区">5区</option>
                    <option value="6区">6区</option>
                    <option value="7区">7区</option>
                    <option value="8区">8区</option>
                    <option value="9区">9区</option>
                    <option value="10区">10区</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">楼栋</label>
            <div class="layui-input-block">
                <select name="building" lay-filter="building">
                    <option value=""></option>
                    <option value="1栋">1栋</option>
                    <option value="2栋">2栋</option>
                    <option value="3栋">3栋</option>
                    <option value="4栋">4栋</option>
                    <option value="5栋">5栋</option>
                    <option value="6栋">6栋</option>
                    <option value="7栋">7栋</option>
                    <option value="8栋">8栋</option>
                    <option value="9栋">9栋</option>
                    <option value="10栋">10栋</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">房间</label>
            <div class="layui-input-block">
                <select name="numbers" lay-filter="numbers">
                    <option value=""></option>
                    <option value="101">101</option>
                    <option value="102">102</option>
                    <option value="103">103</option>
                    <option value="201">201</option>
                    <option value="202">202</option>
                    <option value="203">203</option>
                    <option value="301">301</option>
                    <option value="302">302</option>
                    <option value="303">303</option>
                    <option value="401">401</option>
                    <option value="402">402</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">房屋面积</label>
            <div class="layui-input-block">
                <input type="text" name="area" lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">入住时间</label>
            <div class="layui-input-block">
                <input type="text" id="date" name="intoDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block">
                <textarea name="remarks" class="layui-textarea" placeholder="请输入备注信息"></textarea>
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>

</form>
<script>

    var citySelect = document.querySelector("#city");
    var districtSelect = document.querySelector("#district");
    var streetSelect = document.querySelector("#street");
    var cityIndex =0;
    var cityArr =['南昌市','抚州市','九江市','宜春市','景德镇市','萍乡市','新余市','赣州市','吉安市','上饶市','鹰潭市'];
    var districtArr=[['红谷滩新区','青山湖区','西湖区','新建区','青云谱区'],['临川区'], ['庐山区'],['靖安县'],
        ['昌江区'],['安源区'],['渝水区'],['章贡区'],['吉州区'],['信州区'],['月湖区']];
    var streetArr=[
        [['沙井街道','红角洲管理处','凤凰洲管理处','九龙湖管理处','生米镇'],['艾溪湖管理处','白水湖管理处','蛟桥镇'],['朝阳洲街道','丁公路街区'],['厚田乡','西山镇'], ['洪都街道','京山街道']],
        [['才子大道','泽园街道']],
        [['将军街','科技街道']],
        [['桃源街道','风沙城街道']],
        [['星光大道','文学道']],
        [['中山路','春熙路']],
        [['琴台路']],
        [['布后街']],
        [['走马街']],
        [['督院街道']],
        [['昭德古街']],
    ];

    //页面默认加载项
    for(var i=0;i<cityArr.length;i++){
        var cityOption =new Option(cityArr[i]);
        citySelect.options.add(cityOption);
    }
    layui.use(['form', 'table','laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table,
            laydate = layui.laydate,
            $ = layui.$;

        form.on('select(city)', function (data) {
            var i =  0;
            for(;i < citySelect.options.length;i++){
                if(citySelect.options[i].value== data.value) break;
            }
            cityIndex = i - 1;
            if(cityIndex == -1){
                districtSelect.options.length =0;
                streetSelect.options.length =0;
            }else{
                //先将城市select内容清空，再添加选中城市中的所有区
                districtSelect.options.length =0;
                for(var j=0;j<districtArr[cityIndex].length;j++){
                    //var districtOption = new Option(districtArr[cityIndex][j]);
                    districtSelect.options.add(new Option(districtArr[cityIndex][j]));
                }
                //然后再默认加载第一个区中，所有的街道
                streetSelect.options.length =0;
                for(var k=0;k<streetArr[cityIndex][0].length;k++){
                    var streetOption=new Option(streetArr[cityIndex][0][k]);
                    streetSelect.options.add(streetOption);
                }
                form.render('select');
            }
        });

        form.on('select(district)', function (data) {
            var i =  0;
            for(;i < districtSelect.options.length;i++){
                if(districtSelect.options[i].value== data.value) break;
            }
            districtIndex = i - 1;
            //然后再区中加载，用户选中的市中所有的区
            streetSelect.options.length=0;
            for(var i=0;i<streetArr[cityIndex][districtIndex].length;i++) {
                var streetOption = new Option(streetArr[cityIndex][districtIndex][i]);
                streetSelect.options.add(streetOption);
                form.render('select');
            }
        });

        // 日期
        laydate.render({
            elem: '#date',
            trigger:'click'
        });
            /**
             * 初始化表单，要加上，不然刷新部分组件可能会不加载
             */
            form.render();




        //监听提交
        form.on('submit(saveBtn)', function (data) {
            //获取表单中的数据信息
            var datas=data.field;
            //向后台发送请求，添加
            $.ajax({
                url: "house/add",
                contentType:'application/json',
                type:"post",
                data:JSON.stringify(datas),
                success: function (result) {
                    if (result.code == 200) {
                        layer.msg('添加成功', {
                            iocn: 6,
                            time: 500
                        }, function () {
                            //重载父窗口 关闭当前窗口
                            parent.window.location.reload();
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        })
                    } else {
                        layer.msg("添加失败");

                    }

                }
            })
            return false;

        });
    });

</script>
</body>
