<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">


        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 打开监控 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 关闭监控 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">

            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">修改密码</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="stop">删除</a>

        </script>

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            element=layui.element;
        miniPage = layui.miniPage;

        table.render({
            elem: '#currentTableId',
            url: 'notice/findListByPage',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'id', width: 80, title: 'ID', sort: true},
                {field: 'addr',width: 500, title: '房屋'},
                {field: 'fbdate', width: 180, title: '火灾时间'},
                {field: 'status', width: 80, title: '火灾级别',
                    templet:function(res){
                        if(res.status=='1'){
                            return '<span class="layui-badge layui-bg-green">一级火灾</span>';
                        }if(res.status=='2'){
                            return '<span class="layui-badge layui-bg-orange">二级火灾</span>';
                        }else{
                            return '<span class="layui-badge layui-bg-red">三级火灾</span>';
                        }
                    }},
                {field: 'content',width: 100, title: '相关描述'}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            id:'testReload',
            skin: 'line'
        });

        function allmax() {
            // layer.msg("执行");
            $.ajax({
                url:"notice/allmax",
                type:"POST"
            });
        }

        /**
         * toolbar事件监听
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            var status = 0;
            var timeout = 0;
            if (obj.event === 'add') {
                status = 1;
            }
            $.ajax({
                url:"notice/changeStatus",
                type:"POST",
                data:{"status":status},
                beforeSend: function(XHR, result) {
                    allmax();
                    if (status === 1){
                        layer.msg("监控打开");
                    } else {
                        layer.msg("监控关闭");
                    }
                }
            });
            dowhile(status);
            return false;

        });
        /**
         * 获取批量删除选中的id集合
         */
        function dowhile(status){
            var timeout = 0;
            timeout = setInterval(sendcheck,2000);
            if (status===0){
                //layer.msg("关闭");
                //这里停止了定时器
                for(var i=1;i<=timeout;i++){
                    clearInterval(i);
                }
            }
            return false
        }
        function sendcheck() {
            // layer.msg("执行");
            $.ajax({
                url:"notice/checkStatus",
                type:"POST",
                success:function(result){
                    if(result.code==200) {
                        layer.msg("发生火灾: "+result.notice);
                    }
                }
            });
        }
        /**
         * 删除功能的实现
         */
        function deleteByIds(ids,index){
            $.ajax({
                url:"userinfo/deleteByIds",
                type:"POST",
                data:{"ids":ids},
                success:function(result){
                    if(result.code==200){
                        layer.msg("删除成功",{
                            icon:6,
                            time:500
                        },function(){
                            parent.window.location.reload();//重新页面
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        });

                    }else{
                        layer.msg("删除失败");
                    }
                }
            })
            return false;
        };
        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });



        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                //修改密码
                var content = miniPage.getHrefContent('page/base/admin/edit.html');
                var openWH = miniPage.getOpenWidthHeight();
                var index = layer.open({
                    title: '修改密码',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['60%','60%'],
                    content: content,
                });
                $("#userId").val(data.id);
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;

            } else if (obj.event === 'stop') {
                layer.confirm('真的要删除记录吗', function (index) {
                    //调用删除功能即可
                    updateStatus(id,index);
                    layer.close(index);
                });
            }
        });

    });
</script>