<div class="layuimini-main">

    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">设备名称</label>
            <div class="layui-input-block">
                <input type="text" name="devicedesc" lay-verify="required" lay-reqtext="登录名称不能为空" placeholder="填写设备名称" value="" class="layui-input">
                <tip>填写设备名称。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label ">业主ID</label>
            <div class="layui-input-block">
                <select name="owerid" lay-verify=""  id="typeId" lay-search="">
                    <option value="">业主ID</option>
                </select>
            </div>
        </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注信息</label>
                <div class="layui-input-block">
                    <textarea name="remarks" class="layui-textarea" placeholder="请输入备注信息"></textarea>
                </div>
            </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var form = layui.form,
            layer = layui.layer,
            // table = layui.table,
            $ = layui.$;
        form.render();
        $.get("device/queryAll",{},function (data) {
            var list=data;
            var select =document.getElementById("typeId");
            if(list!=null || list.size()>0){
                for(var c in list) {
                    var option = document.createElement("option");
                    option.setAttribute("value", list[c].id);
                    option.innerText = list[c].id;
                    select.appendChild(option);
                    var selectTypeId = $("#typeIds").val();
                    //遍历选中状态
                    if (selectTypeId == list[c].id) {
                        option.setAttribute("selected", "selected");
                        layui.form.render('select');
                    }

                }
            }
            form.render('select');
        },"json");
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            console.log(data.field);
            //向后台发送数据并进行添加操作
            $.ajax({
                url:"device/add",
                type:"POST",
                contentType:"application/json",
                data:JSON.stringify(data.field),
                success:function(result){

                    if(result.code==200){
                        layer.msg("添加成功",{
                            icon:6,
                            time:500
                        },function(){
                            parent.window.location.reload();//重新页面
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        });

                    }else{
                        layer.msg("添加失败");
                    }
                }
            })
            return false;
        });
    });
</script>