<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">


        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            {{# if(d.required=='1'){ }}
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">同意申请</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="stop">拒绝申请</a>
            {{# }else if(d.status=='1'){ }}
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">解除占用</a>
            {{# }else{ }}
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="required">申请占用</a>
            {{# } }}
        </script>

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            element=layui.element;
            miniPage = layui.miniPage;

        table.render({
            elem: '#currentTableId',
            url: 'device/queryUserInfoAll',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'id', width: 80, title: 'ID', sort: true},
                {field: 'devicedesc',width: 100, title: '设备名称'},
                {field: 'status', width: 80, title: '状态',
                    templet:function(res){
                        if(res.status=='1'){
                            return '<span class="layui-badge layui-bg-red">已被占用</span>';
                        }if(res.status=='0'){
                            return '<span class="layui-badge layui-bg-green">未被占用</span>';
                        }
                    }},
                {field: 'owerid',width: 200, title: '设备占用人'},
                {field: 'requiredid',width: 200, title: '设备申请人'},
                {field: 'required', width: 150, title: '申请状态',
                    templet:function(res){
                        if(res.required=='1'){
                            return '<span class="layui-badge layui-bg-orange">被申请</span>';
                        }else if(res.required=='2'){
                            return '<span class="layui-badge layui-bg-red">申请被拒绝</span>';
                        }else {
                            return '<span class="layui-badge layui-bg-green">未被申请</span>';
                        }

                    }},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            id:'testReload',
            skin: 'line'
        });


        /**
         * toolbar事件监听
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {   // 监听添加操作
                var content = miniPage.getHrefContent('page/base/device/add.html');
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '添加设备',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else  if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus(obj.config.id)
                    , data = checkStatus.data;
                /**
                 *  首先判断是否选择信息，如果没有提示
                 *  如果有
                 *     1、获取选中的id集合
                 *     2、通过ajax请求发送id集合，进行业务处理
                 */
                if(data.length==0){
                    layer.msg("请选要删除的记录信息");
                }else{
                    //获取删除id的集合
                    var ids=getCheckId(data);
                    layer.confirm("你真的要删除了吗？",function(index){
                        deleteByIds(ids,index);
                    })
                }
                 // layer.alert(JSON.stringify(data));
            }
        });

        /**
         * 获取批量删除选中的id集合
         */
        function getCheckId(data){
            var arr=new Array();
            for(var i=0;i<data.length;i++){
                arr.push(data[i].id);
            }
            return arr.join(",");
        };

        /**
         * 删除功能的实现
         */
        function deleteByIds(ids,index){
            $.ajax({
                url:"device/deleteByIds",
                type:"POST",
                data:{"ids":ids},
                success:function(result){
                    if(result.code==200){
                        layer.msg("删除成功",{
                            icon:6,
                            time:500
                        },function(){
                            parent.window.location.reload();//重新页面
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        });

                    }else{
                        layer.msg("删除失败");
                    }
                }
            });
            return false;
        };
        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        function updateStatus(id,index,status){
            $.ajax({
                url:"device/update",
                type:"POST",
                data:{"ids":id,"status":status},
                success:function(result){
                    if(result.code==200){
                        layer.msg("操作成功",{
                            icon:6,
                            time:500
                        },function(){
                            parent.window.location.reload();//重新页面
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        });

                    }else{
                        layer.msg("删除失败");
                    }
                }
            });
        }

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            var id = data.id;
            if (obj.event === 'edit') {
        // 同意 1,不同意 2,解除 3,申请 4
                layer.confirm('确认同意申请', function (index) {
                    //调用删除功能即可
                    updateStatus(id,index,1);
                    layer.close(index);
                });
                // $("#userId").val(data.id);
                // $(window).on("resize", function () {
                //     layer.full(index);
                // });

            } else if (obj.event === 'stop') {
                layer.confirm('确认不同意申请', function (index) {
                    //调用删除功能即可
                    updateStatus(id,index,2);
                    layer.close(index);
                });
            } else if (obj.event === 'delete') {
                layer.confirm('确认去除占用', function (index) {
                    //调用删除功能即可
                    updateStatus(id,index,3);
                    layer.close(index);
                });
            } else if (obj.event === 'required'){
                layer.confirm('确认申请', function (index) {
                    //调用删除功能即可
                    updateStatus(id,index,4);
                    layer.close(index);
                });
            }
        });

    });
</script>